/*Desktop style*/

/* Smartphones: minimum width of 320px to maximum width of around 420px */
@media only screen and (min-width: 320px) and (max-width: 420px) {
  /* Write smartphone only styles here */
  body {
    font-size: 20px;
  }
  main {
    width: 100%;
    font-size: 15px;
  }

  
  }


/* Another smartphone breakpoint is maximum width of around 420px */
@media only screen and (max-width: 420px) {
  /* Write smartphone only styles here */
  .tweet {
    font-size: 15px;
    & header {
      flex-direction: column;
      align-items: flex-start;
      background-color: transparent;
    }
  }
  .tweet-button {
    font-size: 30px;
  }

  nav {
    background-color: rgba(28, 28, 50, 0.985);
    opacity: 1;
    & span.right-content {
      font-size: 16px;
    }
  }
  header {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 28, 50, 0.985);

    & img {
      width: 200px;
      align-self: center;
    }
  }
  
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Write Tablet only CSS here */
  main {
    margin: 0px;
    width: 100%;
    font-size: 20px;
  }
  .tweet {
    & header {
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
      
    }
  }
  
  nav {
    background-color: rgba(28, 28, 50, 0.985);
    opacity: 1;
    & span.right-content {
      font-size: 16px;
    }
  }
  header {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 28, 50, 0.985);

    & img {
      width: 200px;
      align-self: center;
    }
  }
}

/* Another tablet breakpoint is maximum width of 1024px */
@media only screen and (max-width: 1024px) {
  /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */
  main {
    margin: 0px;
    width: 100%;
    font-size: 20px;
  }
  .tweet {
    & header {
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
      
    }
  }
  
  nav {
    background-color: rgba(28, 28, 50, 0.985);
    opacity: 1;
    & span.right-content {
      font-size: 16px;
    }
  }
  header {
    background-color:rgba(28, 28, 50, 0.985);

    & img {
      width: 200px;
      align-self: center;
    }
  }
  
}

/* Another tablet breakpoint is minimum width of 768px */
@media only screen and (min-width: 768px) {
  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  body {
    display: flex;
    flex-direction: row;
  }

  header {
    display: flex;
    margin: 20px;
    border-radius: 30px;
    width: 33.3%;
  }
  .tweet header {
    border: 1px solid transparent;
    width: 100%;
  }
}

/* Laptops / Desktops: minimum width of 960px */
@media only screen and (min-width: 960px) {
  /* Write CSS rules that target small laptop screen sizes and beyond */
}
