.tweet-button{
  background-color: #4152A1;
  font-family : "Bungee";
  color: white;
  margin-right: 45%;
  border-radius: 5px;
}

.tweet-textarea{
  display:flex;
  justify-content: center;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 50% ;
  background-color: #f4f1ec;
  border-radius: 10px;
  border-bottom-color: black;
  text-align: center;
  opacity:0.5;
  overflow: hidden;  
  margin: 50px;
}
.tweet-textarea:hover{
  opacity: 1;
  border-bottom-color: transparent;
}
.tweet-textarea:focus{
  opacity: 1;
  border-bottom-color: transparent;
  font-size: smaller;
}

.button-counter{
  display:flex;
  margin-left: 50px;
  padding-top: 20px;
}


