.tweet-button {
  background-color: #4152a1;

  color:#fafcffa2;
  border-radius: 5px;
  border: transparent;
}
.tweet-button:hover {
  background-color: #0e174123;
}

.tweet-textarea {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  
  
}

.tweet-textarea textarea {
  width: 100%;
  overflow: hidden;
  border-radius: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.233);
  background-color: transparent;
  min-width: inherit;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  border-width: thick;
  resize: vertical ;
}

.tweet-textarea textarea:hover {
  opacity: 0.5;
  border-bottom-color: transparent;
  
}
.tweet-textarea textarea:focus {
  opacity: 0.5;
  border-color: transparent;
  min-height: 50px;
  max-height: 200px;

}

.button-counter {
  font-family: "Bungee";
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.counter-red {
  color: rgb(226, 38, 38);
}
