.tweet {
  background-color: rgba(250, 250, 250, 0.4705882353);
  padding: 20px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1490196078);
  margin: 20px 0;
  border-radius: 5px;
  transition: transform(0.1);
}
.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  color: #41464a;
  margin: 0px;
}
.tweet header div {
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  flex-direction: row;
}
.tweet img {
  display: flex;
  align-self: center;
}
.tweet .avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.tweet .username {
  font-weight: bold;
}
.tweet footer {
  display: flex;
  justify-content: space-between;
}
.tweet footer .fa {
  margin-left: 15px;
}

.tweet-content {
  margin: 10px;
  border-bottom: 2px double rgba(40, 40, 40, 0.2392156863);
  color: rgba(0, 0, 0, 0.5882352941);
}

.tweet:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.438);
  transform: scale(1.05);
}
.tweet:hover .fa {
  color: #1da1f2; /* Twitter blue */
}

.tweet .fa:hover {
  color: rgba(152, 199, 35, 0.7215686275); /* Twitter blue */
}
